.book-block{
    float: left;
    margin-left: 21.5px;
    margin-right: 21.5px;
    margin-bottom: 40px;

    width: 340px;
    height: 480px;
    background-color: #eceae9;
    color: #000;
}

.book-img-container{
    padding-top: 40px;
    margin: 0 auto;
    width: 174px;
    height: 256px;
    padding-bottom: 20px;
}

.book-img-container img{
    width: 100%;
    max-height: 256px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.5);
}

.book-category{
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: #878787;
    padding: 0px 20px;
    padding-bottom: 10px;
}

.book-title{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px 0px;
    max-width: 300px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*.book-title:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent, #c8ad90 50%);
  }*/

.book-author{
    font-size: 18px;
    font-weight: 300;
    color: #878787;
    padding: 10px 20px;
    max-width: 400px;
}