.main{
    padding-bottom: 20px;
}

.container{
    width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

.main__books-count{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.main__books-block{
    margin-left: 20px;
    margin-right: 20px;
}

.main__books-block::after{
    content: "";
    clear: both;
    display: block;
}

.main__btn-load{
    display: flex;
    width: 140px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    background-color: #c7c2c2;
    list-style:armenian;
    border: 10px black;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

@media only screen and (max-width: 1440px) {
    .container{
        width: 1200px;
    }
}
  
@media only screen and (max-width: 1199px) {
    .container{
        width: 900px;
    }
}

@media only screen and (max-width: 991px) {
    .container{
        width: 700px;
    }
}

@media only screen and (max-width: 767px) {
    .container{
        width: 100%;
        padding: 0px;
    }
    .main__books-block{
        margin: 0px;
        justify-content: space-between;
    }
}