.header{
    background-image: url(../../../public/images/background_book.png);
    width: 100%;
    background-position: 50% 100%;
}

.header__title{
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.header__search{
    max-width: 480px;
    position: relative;
    display: flex;
    margin: 0 auto;
}

.search-txt{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 100%;
    height: 40px;
    font-size: 22px;
    background-color: #fff;
    color: #000;
    padding-left: 5px;
    outline: none;
    border: none;
}

.search-btn{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border: none;
}

.search-btn img{
    height: 55%;
    width: auto;
}

.header__categories{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.select__block{
    display: flex;
    height: 38px;
    padding: 0 10px;
    padding-bottom: 10px;
}

.select-txt{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.select-opt{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #676767;
    width: 150px;
    padding-left: 5px;
}